<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>아이템 마켓</title>
  <link href="/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<main class="container mt-4">
  {{{body}}}
</main>

<script src="/js/bootstrap.bundle.min.js"></script>
</body>
</html>
